<section class="footer" id="social">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_footer">
                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright_text">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Designet og udviklet af <a href="http://www.instantcms.dk/">InstantCMS.dk</a> i 2018. Alle rettigheder er reserverede. <a href="/login">Login</a></p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="flowus">
                                <a href="https://www.facebook.com/beatafestirstein"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                                <a href=""><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>