<section id="cakes" class="service">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_service_area">
                    <div class="main_service_content">
                        <div class="service_tabe">
                            <!-- Nav tabs -->
                            <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#cakes" aria-controls="webdesign" role="tab" data-toggle="tab"><i class="fa fa-birthday-cake"></i> <br />Kager</a></li>
                                <li role="presentation"><a href="#ingrediens" aria-controls="appdesign" role="tab" data-toggle="tab"><i class="fa fa-cutlery"></i> <br />Ingredienser</a></li>
                                <li role="presentation"><a href="#delivery" aria-controls="graphicdesign" role="tab" data-toggle="tab"><i class="fa fa-car"></i> <br />Levering</a></li>
                                <li role="presentation"><a href="#prices" aria-controls="gamedesign" role="tab" data-toggle="tab"><i class="fa fa-money"></i> <br />Priser</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="cakes">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>Kager</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Kager er en traditionel del af vores festligheder, f.eks. bryllup,
                                                    konfirmation, fødselsdage og andre store begivenheder. Beatas kager kan levere kagen til jeres begivenhed, hvor vi sammen med dig skaber den perfekte kage.</p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="assets/images/cakes/ordering/ordering_cake_snowflakes.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ingrediens">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>Ingredienser</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Vi bruger en stor variation af ingredienser.<br />
                                                    Uanset valg af ingredienser, så vil alle vores kager 
                                                    være velsmagende og pryd for øjet.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="assets/images/featureslid1.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="delivery">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>Levering</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Der er mulighed for levering af kagen.<br />
                                                    Hvis I ønsker selv at hente kagen, så er dette også muligt.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="assets/images/stab1.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="prices">
                                    <div class="single_service_tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="single_tab_content">
                                                    <div class="head_title">
                                                        <h3>Priser</h3>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <p>Her finder du vores kagepriser.<br />
                                                    Bryllup: 50 kr. pr. person<br />
                                                    Konfirmation: 40 kr. pr. person<br />
                                                    Fødselsdag: 30 kr. pr. person<br />
                                                    Levering: op til 20 km. 100 kr.<br />
                                                    Andre begivenheder: Forespørg på pris.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="single_tab_img">
                                                    <img src="assets/images/featureslid1.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>