<section id="clogo" class="clogo">
    <div class="container">
        <div class="row">
            <div class="main_logo_area">
                <div class="col-sm-12">
                    <div class="main_logo_content">
                        <div class="row">

                            <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                <div class="single_logo_right_content">
                                    <div class="head_title_low">
                                        <h3>Leverandører</h3>
                                        <div class="separator"></div>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="main_clogo text-center">
                                                <div class="col-sm-2 col-xs-3"> 
                                                    <a href=""><img src="assets/images/logoer/mette_blomsterberg.jpg" alt="Mette Blomsterberg" /></a>
                                                </div>
                                                <div class="col-sm-2 col-xs-3"> 
                                                    <a href=""><img src="assets/images/logoer/kenwood.png" alt="Kenwood" /></a>
                                                </div>
                                                <div class="col-sm-2 col-xs-3"> 
                                                    <a href=""><img src="assets/images/logoer/bosch.jpg" alt="Bosch" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>